page-remark {
  #addRemark
  {
    position: fixed !important;
    bottom: 20px !important;
    right: 20px !important;
    width: 60px;
    height: 60px;
  }

  h5{
    margin-top: 10px;
    margin-left: 5%;
    color: dimgray;
  }

  .str{
    font-size: 16px;
  }

  .back
  {
    background-color:#FBFCFC !important;
  }
}
