<!--
  Generated template for the RemarkPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Observações</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="position:relative" class="back">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      refreshingSpinner="circles"
      refreshingText="Carregando notas...">
    </ion-refresher-content>
  </ion-refresher>

<h5>{{server.name}}</h5>
<button ion-fab id="addRemark" (click)="insertRemark(server)">
  <ion-icon name="add-circle"></ion-icon>
</button>

  <ion-card *ngFor="let server of notes; let i = index">
    <ion-card-content>
      <p class="str">{{datas[i].split('/').reverse().join('/')}}</p>
      <h3 style="font-size: 20px">{{titles[i]}}</h3>
      <p class="str">{{server}}</p>
    </ion-card-content>
  </ion-card>

</ion-content>
