<ion-content padding class="back">
<div class="container">
  <img src="assets/icon/logo-ufma.png">

  <ion-item class="apresentacao back">
    <p>SEPROQV</p>
    <p>Projeto Readaptar</p>
  </ion-item>
<form [formGroup]="access" (submit) = "pageIndex()">
  <ion-item class="input back" >
    <ion-label floating>Usuário</ion-label>
    <ion-input
                  [(ngModel)] = "user"
                  formControlName="user"
                  name="user"
                  type="text">
  </ion-input>
  </ion-item>

  <ion-item class="input back">
    <ion-label floating>Senha</ion-label>
    <ion-input
                [(ngModel)] = "password"
                formControlName="password"
                name="password"
                type="password">
    </ion-input>
  </ion-item>
    <button block ion-button id="btnLogin" >LOGIN</button>
</form>
</div>
</ion-content>
