page-login
{

  @media(min-width: 400px)
  {
    .container
    {
      margin-top: 200px !important;
      margin-left: auto !important;
      margin-right: auto !important;
      width: 300px !important;
    }
  }
  .back
  {
    background-color:#FBFCFC;
  }

  img
  {
    display: block;
    margin: auto;
    margin-top: 60px;
    width: 125px;
    height: 125px;
  }

  .apresentacao
  {
    margin: auto;
    width: 300px !important;

  }

  .apresentacao p
  {
    width: 200px !important;
    display: block;
    margin: 10px auto !important;
    padding: auto;
    text-align: center;
    color: #566573;
    font-size: 20px;
    font-weight: bolder
  }

  .input
  {
    margin: auto;
    width: 250px;
    border-radius: 5px;
  }

  #btnLogin
  {
    background-color: #A93226 !important;
    margin: 20px auto 0 auto !important;
    width: 70% !important;
    border-radius: 10px !important;
    font-weight: bold !important;
  }



  button:hover{background-color: #A93226 !important;}

}
