page-perfil
{

  @media(max-width: 399px) {
    #sec p
    {
      /*font-size: 16px !important;*/
    }

  }

  @media (min-width: 400px) {
    #sec
    {
      position: relative;
    }

    #sec div p
    {
      color: #566573;
      font-size: 18px;
      font-family: "Neue Helvetica";
      clear: both;
    }

    p{font-size: 16px}

  }


  .back
  {
    background-color:#FBFCFC;
  }

  section
  {
    height: 120px!important;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #bdbdbd;
    padding-bottom: 15px !important;
  }


  main{
    margin-top: 0px !important;
  }

  main p {
    clear: both;
  }


  #sec{
    /*border: 1px solid red;*/
    height: 170px !important;/* 130 */
    margin-bottom: 5px!important;
    padding-bottom: 15px !important;
    border-botom: 1px solid lightgray !important;/*-bottom */
  }

  #sec div
  {
    padding-bottom: 15px;
    /*border: 1px solid green;*/
  }

  #sec p
  {
    color: #566573;
    font-size: 16px;
    margin-bottom: -10px;
    margin-left: 5px;
    font-family: "Neue Helvetica"
  }

  #sec p:nth-child(6)
  {
    /*border: 1px solid red;*/
    width: 110px;
    float: left;
  }

  #sec input
  {
    border-bottom: 1px solid #bdbdbd;
    margin-left: 5%;
    height: 40px !important;
    width: 180px !important;
    float: right;
    color:#000;

  }

  p{
    font-size: 16px;
    color: #566573;
  }

  .btn
  {
    margin-top: 15px !important;
    margin-left: 3%;
    background-color: #A93226 !important;
    border-radius: 5px;
    width: 45% !important;
    display: inline-block;
  }

  #num_processo input
  {
    border-bottom: 1px solid #bdbdbd;
    margin-left: 5%;
    height: 25px;
  }


  .padd{padding-left: 5%; padding-right: 5%;}

  #logout
  {
    position: absolute !important;
    bottom: 10px !important;
    left: 75% !important;
    height: 30px;
    border-radius: 5px;
    color: #fff;
    background-color: #A93226;
    border: none !important;
    font-weight: bold;
  }

  #nome
  {
    color:#000 !important;
    font-size: 16px;
    font-weight: bold;
  }



  #pro
  {
    /*font-size: 18px !important;
    font-weight: bold;
    color: #000 !important;*/
  }

  #list
  {
    margin-top: 20px;
    /*margin-bottom: 20px;
    padding-bottom: 10px;*/
    /*border-bottom: 1px solid lightgray !important;/* lightgray */
  }

  #list ion-item + p{
    margin-left: 5% !important;
    /*border: 1px solid red !important;*/
  }

  .sel
  {
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    text-align: center;
    position: relative !important;
    left: 50%;
    max-width: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    color: #566573;
  }


  h5{
    border-bottom: 1px solid lightgray !important;/* lightgray */
    padding-bottom: 10px;
  }


}
