<ion-header>
  <ion-navbar>
    <ion-title>Servidor</ion-title>
    <button ion-button  outline id="logout" (click)="logout()">Sair</button>
  </ion-navbar>
</ion-header>
<ion-content padding class="back padd">
  <main>
    <section id="sec">
      <div>
        <p>Nome: <span id="nome">{{server.name}}</span></p><!-- ALDALEIA LOPES BRANDES MARQUES -->
        <p id="cargo">Cargo: {{server.office}}</p>
        <p id="dep">Departamento: {{server.department}}</p>
        <p>Contato: {{server.contact}}</p>
        <p>Orgão: {{type}}</p>
        <p id="pro" item-left>Nº processo:</p>
        <ion-input [disabled]="true" type="text" placeholder="xxx.xxx.xxx.xxx.xxx" item-right class="back" value="{{server.process}}">
        </ion-input>
      </div>
    </section>

    <ion-list id="list">
      <ion-item class="back">
        <p style="width: 80px; font-size: 16px;" item-left>Avaliação:</p>
          <ion-select class="sel back" [(ngModel)] = "typeAvaliation" (ionChange)="defineAvaliation()">
            <ion-option value="r">Readaptar</ion-option>
            <ion-option selected value="p">Perícia</ion-option>
          </ion-select>
        </ion-item>
        <p>Motivo: {{server.reason}}</p>
    </ion-list>


    <h5>Data</h5>
    <p style="clear: both;">Última avaliação da perícia: </p>

    <ion-item class="back">
      <ion-label>Date</ion-label>
      <ion-datetime  [(ngModel)]="last_date" displayFormat="DD/MM/YYYY" placeholder="dd/mm/aaaa" class="back"></ion-datetime>
    </ion-item>


    <p>Provável reavaliação: </p>

    <ion-item class="back">
      <ion-label>Date</ion-label>
      <ion-datetime [(ngModel)]="next_date" displayFormat="DD/MM/YYYY" placeholder="dd/mm/aaaa" class="back"></ion-datetime>
    </ion-item>
    <button ion-button block class="btn" style="background-color: #3B5323 !important;" (click)="getRemark(server)">Observações</button>
    <button ion-button block class="btn" (click)="savePerfil()">Salvar</button>


  </main>

</ion-content>
