page-index
{

  .back
  {
    background-color:#FBFCFC !important;
  }

  .searchbar
  {
    border-radius: 15px !important;
  }

  .list{
    /*width: available !important;*/
  }

  button, p{border: none !important; }
  button
  {
    border-top: 1px solid lightgray !important;
  }

  h3, p {color: #566573 !important;}
  h3{
    margin-top: 10px !important;
    margin-bottom: 20px !important;
    margin-left: 4%;
    text-align: left;
  }

  p{
    font-size: 17px !important;
  }

  ._icon
  {
    color: #a8a8a8;
    width: 30px;
    height: 30px;
    font-weight: bold;
  }

  #logout
  {
    position: absolute !important;
    bottom: 10px !important;
    left: 75% !important;
    height: 30px;
    border-radius: 5px;
    color: #fff;
    background-color: #A93226;
    border: none !important;
    font-weight: bold;
  }


}
