<ion-header style="position: relative">
  <ion-navbar>
    <ion-title>Cadastros</ion-title>
  </ion-navbar>
    <button ion-button  outline id="logout" (click)="logout()">sair</button>
</ion-header>
<ion-content padding class="back">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      refreshingSpinner="circles"
      refreshingText="Carregando dados...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-searchbar placeholder="Pesquisar" (ionInput)="getItems($event)"></ion-searchbar>

  <ion-list class="back list">

      <h3>Servidores cadastrados</h3>

    <!--<ion-list >-->
    <div *ngIf="todayStatus">
      <ion-item *ngFor="let t of serverToday; let i = index" class="back" style="color: yellowgreen !important; background-color: #fff9c4 !important;" (click) = "editContact(t, serverKeyToday[i])">
        <p class="back" style="background-color: #fff9c4   !important;">Reavaliação: {{t.evaluate_date.split('/').reverse().join('/')}}</p>
        <p class="back" style="background-color: #fff9c4  !important;">{{t.name}}</p>
      </ion-item>
    </div>
    <!--</ion-list>-->

    <ion-item *ngFor="let server of countryList; let i = index;" ion-item (click) = "editContact(server, countryKeys[i])" class="back" ><!-- *ngFor="let server of servers | async" -->
      <p class="back">Reavaliação: {{dateAvaliation[i]}}</p><!-- 20/07/2018 -->
      <p class="back">{{server.name}}</p><!--Aldalea Lopes Brandes Marques -->
      <ion-icon name="ios-arrow-dropright" item-right class="_icon"></ion-icon>
    </ion-item>

  </ion-list>

</ion-content>
