.alertControl
{
  alert-message {
    border-radius: 5px;
    background-color: slategray;
  }

  .alert-wrapper {
    border-radius: 15px;
    background-color: #fafafa;
  }

  button {
    color: slategray !important;
    border-radius: 50% !important;
    border: 1px solid slategray;
  }
}

/*.alertControl button
{
  border-radius: 50%;
  border: 1px solid gray;
}*/
