page-edit-remark {
  .con{
    margin-top: 20px;
  }

  h6{
    color: lightslategray;
  }

  form
  {
    border: 1px solid lightgray;
  }

  ion-textarea
  {
    height: 100px;

  }

  #button
  {
    background-color: #A93226 !important;
    //border-radius: 5px;

  }
}
