<!--
  Generated template for the EditRemarkPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Nova observação</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="con">
    <h6>{{server.name}}</h6>
    <form [formGroup] = "register">
        <ion-item >
          <ion-label floating>Título</ion-label>
          <ion-input
            [(ngModel)] = "titleNote"
            formControlName="title"
            name="title"
            type="text">
          </ion-input>
        </ion-item>
      <ion-item>
          <ion-label floating>Nova observação</ion-label>
          <ion-textarea
            [(ngModel)] = "teste"
            formControlName="remarkText"
            name="remarkText"
            type="text">
          </ion-textarea>
        </ion-item>
      <button ion-button full id="button" (click)="registerRemark(server)">Cadastrar</button>
    </form>
  </div>
</ion-content>
